/* CSS declarations go here */
body{
	overflow-x: hidden;
	overflow-y: visible;
}

.progress{
 height: 3px;
 background: #eee;
 overflow:hidden;
}

.progress .inner{
  width: 0%;
  max-width: 100%;
  background: rgb(30, 174, 219);
  position: relative;
  height: 100%;
  transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease;
}

.hide{
	display:none;
}

.plain-modal{
  background: white;
  top: 6rem;
  padding: 4rem;	
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

.close{
  float: right;
  font-size: 3rem;
  line-height: 2.2rem;
  position: relative;
  top: -1rem;
  border: 1px solid #888;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  border-radius: 2rem;
  color: #888;
  display: block;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0;
}

.headline-holder, .comment-holder{
  background: white;
  height: 22rem;
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 1rem;
  border-radius: 4px;
  border-right-color: #E7FAE8;
  border-left-color: #FFECEC;
}

.headline-holder h3, .comment-holder h3{
  margin-top: 1rem;
}

.headline-holder:before, .comment-holder:before{
  content: '';
  position: absolute;
   border: 2rem solid #FFECEC;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  height: 0;
  width: 0;
  left: -4rem;
  top: 50%;
  margin-top: -2rem;
}

.headline-holder:after, .comment-holder:after{
  content: '';
  position: absolute;
  border: 2rem solid #E7FAE8;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  height: 0;
  width: 0;
  right: -4rem;
  top: 50%;
  margin-top: -2rem;
}

.headline{
	background:white;
	height: 100%;
	width: 80%;
	position:absolute;
	margin: 0 auto;
	left: 10%;
	overflow:hidden;
}

.headline.current{
	z-index:1;
}

.headline.leaving{
	z-index: 1;
	pointer-events:none;
}

.split{
  width: 48%;
  float: left;
  margin: 0 1%;
}



/* Spritz CSS */
#spritz-holder{
	text-align:center;
	width:100%;
}

#spritzer{
	display:inline-block;
	width: 100%;
}

/* End Spritz CSS */

/* Talk Modal */

.comment{
	background:white;
	height: 100%;
	width: 80%;
	position:absolute;
	margin: 0 auto;
	left: 10%;
	overflow:hidden;
}

.comment.current{
	z-index:1;
}

.comment.leaving{
	z-index: 1;
	pointer-events:none;
}

/* End Talk Modal */

/* Start and Quiz */

.quiz-heading{
	font-weight: bold;
}

/* End Start */

/* User Badge */

.person{
  border-radius: 8em;
  height: 1.25em;
  width: 1.25em;
  box-shadow: inset 0 0 0 0.15em #FF4136, inset 0 0 0 0.19em white;
  background: #0074D9;
  text-align: center;
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 41px;
  line-height: 1.25em;
  float: left;
  margin: 0.13em;
}

/* End User Badge */